#main {
  background-color: whitesmoke;
}

#title {
  color: orange;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 8vw;
  margin-bottom: 0%;
}

#img-div {
  background-color: seagreen;
  border-radius: 10px;
}

#image {
  max-width: 100%;
  height: auto;
  margin: 0%;
  display: block;
}

#img-caption {
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px 10px 10px 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  font-weight: 300;
}

#tribute-info h3 {
  text-align: center;
  font-size: 2vw;
}

#tribute-info {
  font-family: 'Courier New', Courier, monospace;
  text-align: justify;
  width: 30%;
  margin-left: 30%;
  padding-top: 50px;
}